<form id="payment-form" action="{$form_url}" method="post" target="_top">
    {foreach $hidden_fields as $name => $value}
        {if is_array($value)}
            {foreach $value as $v}
                <input type="hidden" name="{$name}" value="{$v|escape}" />
            {/foreach}
        {else}
            <input type="hidden" name="{$name}" value="{$value|escape}" />
        {/if}
    {/foreach}
    <i class="icon16 loading"></i> <em>{$text_submit}</em>
    <br /><br />
    <script type="text/javascript">
    setTimeout(function () {
        document.getElementById('payment-form').submit();
    }, 3000);
    </script>
    <input type="submit" value="{$text_submit}" />
</form>
